@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    --text-color: #000; /* Default for light mode */
  }
  
  body.dark {
    --text-color: #fff; /* Override for dark mode */
  }
  
  .text {
    color: var(--text-color);
  }
  